.song-item {
  padding: 8px 10px;
  user-select: none;
  border-radius: 8px;
  transition: background-color 0.15s ease;
  margin-bottom: 1px;
}

.song-item:hover {
  .hover-to-show {
    opacity: 1;
  }
}

.hover-to-show {
  opacity: 0;
  transition: opacity 0.2s ease;
}
